<h1>Forum</h1>
<p>Disaster Information</p>

<% if user_signed_in? %>
  <h2> Hello <%= current_user.email %> </h2>
  <%= link_to 'Sign out', destroy_user_session_path, data: { 'turbo-method': :delete } %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>